<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Salvo</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>

  <div id="app">

    <div class="image">



      <div v-if="user.length != 0" class="game">
        <div>
          <img class="game-logo" src="images/arr1.png" alt="logo" @click="redirect()">
        </div>
        <div class="player-vs-player">
          <p v-for="(value, key) in user">(You) {{value.userName}}</p>
          <span>Vs</span>
          <p v-if="opponent.length == 0"> Waiting for other player</p>
          <p v-for="(value, key) in opponent">{{value.userName}}</p>
        </div>
      </div>

      <div class="ships-box">
        <div class="wrapper-ship" v-if="done == false && gameStatus == 'wait' || opponent.length == 0">
          <div class="default-ships">
            <div>
              <input class="error-ship" v-if="shipPlaceError.length != 0" type="text" v-model="shipPlaceError">
            </div>

            <div class="ships" v-for="(value,key) in gameShips">
              <label for="ships">{{value.shipType}}</label>
              <div class="label-dot"><input type="radio" :value="value" v-model="selectedShip" @click="shipPlaceError = 'Placing...'"></div>
              <div class="rotate-box">
                <img src="images/rotate.png" @click="rotateShip = !rotateShip" class="rotate">
                <img src="images/minus.png" :value="value.shipType" class="minus" @click="removeShip()"></div>
            </div>
            <button id="submit" v-if="ships.length == 5" @click="postShips(), done = true">Done</button>
          </div>
        </div>

        <div class="container">

          <div class="ship-grid">
            <h2>Ship locations</h2>
            <table id="table">
              <tr>
                <td></td>
                <td v-for='number in numbers'>{{number}}</td>
              </tr>
              <tr v-for='letter in letters'>
                <td>{{letter}}</td>
                <td v-for='number in numbers' :id="letter+number" :class="printShip(letter,number)" @click="getGridLocation($event);"><span v-if="oppSalvoes.length != 0" :class="shipHits(letter,number)"></span></td>
              </tr>
            </table>
          </div>
          <div v-if="gameStatus == 'wait' && opponent.length != 0" class="game-status">
            <p>Waiting for other player to post ships...</p>
          </div>

          <div class="salvo-grid" v-if="gameStatus == 'start' && opponent.length != 0">
            <div class="salvo-body">
              <h2>Salvo locations</h2>
              <p class="shots">Shots left: {{shots}}</p>
              <span>Turn : {{turn}}</span>
              <table id="table-salvoes" v-if="post == 'ready'">
                <tr>
                  <td></td>
                  <td v-for='number in numbers'>{{number}}</td>
                </tr>
                <tr v-for='letter in letters'>
                  <td>{{letter}}</td>
                  <td v-for='number in numbers' :id="letter+number" :class="printSalvoes(letter,number)" @click="getGridSalvoLocation($event);"><span :class="mySalvoHits(letter,number)"></span></td>
                </tr>
              </table>
              <div class="shoot" v-else>shooting...</div>
              <button v-if="selectedSalvos.length == 5 && shots == 0" id="postSalvos" @click="postSalvos(), turn += 1, shots = 5">Fire!</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <script src="https://unpkg.com/vue"></script>
  <script src="game.js"></script>

</body>

</html>
